body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

#logout-btn {
  cursor: pointer;
  padding: 0.8rem;
  width: 4.5rem;
  border-radius: 54px;
  border-width: 0px;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
  position: relative;
  margin-left: calc(100vw - 5.5rem);
  margin-top: 0.4rem;
}

#logout-btn:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

#title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 0.77rem 0;
  background-color: #010c3f;
  text-align: center;
}

.highlight {
  color: #6c41ec;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  #title {
    text-align: left;
    padding-left: 1rem;
  }

  #logout-btn {
    margin-left: calc(100vw - 4.8rem);
  }
  .App {
    padding: 0rem;
  }
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
